# Secret
.env

# Composer
/vendor/

# Test & static analysis cache
.phpunit.result.cache
/.phpunit.cache/
/coverage/

# Runtime data
/storage/logs/*
/storage/cache/*
/public/uploads/*
!.gitkeep

# IDE
.idea/
.vscode/
.DS_Store
